.contacts
  .space
  - @contacts.each do |contact|
    = link_to contact do
      .contact
        .image
          = image_tag(contact.avatar(:thumb))
        .name
          = contact.fullname
        .email
          = contact.email

.detail
  %table
    %tr
      %th.name{colspan: "3"}
        = @contact.name.humanize
        = @contact.surname.upcase
    %tr
      %td{:rowspan => "7"}
        = image_tag @contact.avatar(:medium), height: "250px", width: "250px"

      - @contact.phones.each do |tel|
        %td
          %i.fa.fa-phone.ico
        %td
          = tel.phone
    %tr
      %td
        %i.fa.fa-envelope.ico
      %td
        = @contact.email
    %tr
      %td
        %i.fa.fa-map-marker.ico
      %td
        #{@contact.address} #{@contact.city}, #{@contact.country}

    %tr
      %td
        %i.fa.fa-birthday-cake.ico
      %td
        #{@contact.birthday.strftime("%m/%d/%Y")} - #{@contact.age + 1} yaşına girmesine #{@contact.remaining_days} gün kaldı.
    %tr
      %td
        %i.fa.fa-globe.ico
      %td
        = link_to @contact.website, @contact.website
    %tr
      %td
        %i.fa.fa-briefcase.ico
      %td
        #{@contact.company} şirketinde #{@contact.job}
    %tr
      %td
        %i.fa.fa-venus-mars.ico
      %td
        = @contact.gender
    %tr
      %td
      %td
        %i.fa.fa-android.ico
      %td
        = @contact.race
.detail
  .block
    .title
      Portre
    .date
      27 Ağustos 2017 Tarihinde yazdın
  %p Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
  %br
  = link_to 'Önceki Yazıların', '#', style: "text-align: center"

.login
  .img#demo-menu-lower-right
    = image_tag current_user.avatar.url(:thumb)
  %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{:for => "demo-menu-lower-right"}
    %li.mdl-menu__item Alperen Bozkurt
    %li.mdl-menu__item Çıkış Yap

%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored#show-dialog
  %i.material-icons +

%dialog.mdl-dialog
  %h4.mdl-dialog__title Yeni Birisini Ekle
  .mdl-dialog__content
    = render 'form'
:javascript
  var dialog = document.querySelector('dialog');
  var showDialogButton = document.querySelector('#show-dialog');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showDialogButton.addEventListener('click', function() {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });
